.design {
    /* background-color: silver; */
    width: 100%;
    max-width: initial;
    margin: 0;
    text-align: center;
}

.design h1 {
    color: white;
}

.design-page {
    border: 1px solid silver;
    width: 375px;
    height: 1024px;
}

.design-header {
    display: flex;
    justify-content: space-between;
}

.design-header a {
    color: white;
}
