.mb-postItem__container h2 {
    /* background-color: red;  */
    font-weight: 600;
}

.mb-postItem-date {
    font-size: 0.75em;
    margin-bottom: calc(var(--unit) /2);
    font-family: "Helvetica", "sans-serif";
    text-transform: uppercase;
    color: var(--color-secondary);
}

.mb-postItem-summary {
    color: var(--color-primary);
    font-size: 1.05em;
    line-height: 1.42em;
    font-family: "Roboto Slab", "georgia", "serif";
}