.mb-postItem-title {
    overflow: hidden;
    height: calc(var(--unit) * 8);
}

.mb-postItem-title h2 {
    font-weight: 600;
}

.mb-postItem-date {
    font-size: 0.75em;
    margin-bottom: calc(var(--unit) / 2);
    font-family: "Helvetica", "sans-serif";
    text-transform: uppercase;
    color: var(--color-secondary);
}

.mb-postItem-summary {
    color: var(--color-primary);
    font-size: 1.05em;
    line-height: 1.42em;
    font-family: "Roboto Slab", "georgia", "serif";
}
