@import "./variables.css";

h1 {
    color: var(--color-primary);
}

.mb-tools-list__container a {
    color: var(--color-primary);
}

.mb-tools-list__container div {
    background-color: white;
    padding: var(--spacing-default);
}

.mb-tools_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--unit);
}

.mb-tools_item footer label {
    background-color: silver;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin-right: 8px;
}

@media (min-width: 600px) {
    .mb-tools-list__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(250px, auto);
        max-width: 100%;
    }
}

@media (min-width: 800px) {
    .mb-tools-list__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(250px, auto);
        max-width: 100%;
    }

    .mb-tools-list__container div:nth-child(even) {
        background-color: lightgray;
    }
}
